<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h1 class="h3 mb-1">Edit Application Group</h1>
    <p class="text-muted mb-0">Application: <%= link_to @application.name, application_path(@application), class: "text-decoration-none" %></p>
  </div>
  <div>
    <%= link_to "&larr; Back to group".html_safe, application_application_group_path(@application, @application_group), class: "text-decoration-none" %>
  </div>
</div>

<div class="card shadow-sm border-0">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
