<div class="mb-4">
  <%= link_to "&larr; Back to Cash Payments".html_safe, cash_payments_path, class: "text-decoration-none" %>
</div>

<div class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">Record Cash Payment</h1>
    <%= render 'form', cash_payment: @cash_payment %>
  </div>
</div>
