<h1>Application Received</h1>

<p>Hello <%= @user.display_name %>,</p>

<p>Thank you for applying to join <%= @organization %>!</p>

<p>We have received your application and it is now being reviewed by our team. You will receive another email once your application has been processed.</p>

<p>If you have any questions in the meantime, please don't hesitate to reach out.</p>

<p>Best regards,<br>
The <%= @organization %> Team</p>
