<h1>Login Link Expired</h1>

<p>Hello <%= @user.display_name %>,</p>

<p>Your login link for <%= @organization %> has expired.</p>

<p>To generate a new login link, please sign in to your account and visit your profile.</p>

<p>Best regards,<br>
The <%= @organization %> Team</p>
