<div class="mb-4">
  <%= link_to "&larr; Back to members".html_safe, users_path, class: "text-decoration-none" %>
</div>

<div class="card shadow-sm border-0">
  <div class="card-body">
    <h1 class="h4 mb-3">New Member</h1>
    <%= render "form", user: @user %>
  </div>
</div>
