<div class="mb-4">
  <% if params[:return_to_topic].present? %>
    <%= link_to "&larr; Back to Topic".html_safe, edit_training_topic_path(params[:return_to_topic]), class: "text-decoration-none" %>
  <% else %>
    <%= link_to "&larr; Back to Documents".html_safe, documents_path, class: "text-decoration-none" %>
  <% end %>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h1 class="h4 mb-4">Edit Document</h1>
        <%= render "form", document: @document %>
      </div>
    </div>
  </div>
</div>
